<!DOCTYPE html>
<html>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
<body>

<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Description</th> 
    <th>Due Time</th>
    <th></th>
    <th></th>
  </tr>
  {% for t in tasks %}
  <tr>
    <td>{{t.Title}}</td>
    <td>{{t.Description}}</td>		
    <td>{{t.due_time}}</td>
    <td><a href="/edit-task/{{t.id}}">Edit</a></td>
    <td><a href="/delete-task/{{t.id}}">Delete</td>
  </tr>
  {% endfor %}
</table>

</body>
</html>
